.dark-green-button {
	height: 50px;
	width: 200px;
	background-color: #529e6b;
	color: white;
	margin: 20px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: #151515;
		color: #529e6b;
	}

}


.green-button {
	background-color: #96be57;
	padding: 10px;
	border: none;
	width: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

	&:hover {
		background-color: #131313;
		color: #96be57;
	}
}